2MRS_redshift.txt filter=lfs diff=lfs merge=lfs -text
2MRS_redshift_out.txt filter=lfs diff=lfs merge=lfs -text
2MPP_SDSS.txt filter=lfs diff=lfs merge=lfs -text
2MPP_SDSS_6dF.txt filter=lfs diff=lfs merge=lfs -text
2MPP_SDSS_6dF_out.txt filter=lfs diff=lfs merge=lfs -text
2MPP_SDSS_out.txt filter=lfs diff=lfs merge=lfs -text
2MPP_redshift.txt filter=lfs diff=lfs merge=lfs -text
2MPP_redshift_out.txt filter=lfs diff=lfs merge=lfs -text
